--- 
layout: default 
---

<header class="page__header">
  <div class="header__item">
      <h1>HTML5 Barebone Test Page</h1>
      <p>
        This is a HTML5 test page for barebook's User Interface (UI). This document is filled with common HTML elements, which is
        use for testing visual feedback whilst building the style-guide. 
      </p>
      <a class="btn btn--link" href="#">Download</a>
  </div>
</header>

<main class="page__main">

    <article class="page__content" role="article">
    {% assign elementsByType = site.elements | sort:"order" | group_by:"type" %} 
    {%  for type in elementsByType %}
        <section class="categorys">
        <h2 id="{{ type.name | slugify }}" class="categorys__title">{{ type.name | capitalize }}</h2>
        {% for entry in type.items %} 
            {% include element.html %} 
        {% endfor %} 
        <a href="#top">[Back to Top]</a>
        </section>
    {% endfor %}
    </article>

    <aside class="page__aside" role="complementary">

        <nav role="navigation" class="nav">
            <h2>Table of content</h2>
            {% assign elementsByType = site.elements | sort:"order" | group_by:"type"  %} 
            {% for type in elementsByType %}
            <ul class="nav__list">
                <li>
                <a href="#{{ type.name | slugify }}">{{ type.name | capitalize }}</a>
                <ul class="nav__list">
                {% for entry in type.items %}
                    <li>
                    <a href="#{{ entry.title | slugify }}">{{ entry.title }}</a>
                    </li>
                {% endfor %}
                </ul>
                </li>
            </ul>
            {% endfor %}
        </nav>
        
    </aside>

</main>

<footer class="page__footer">
    <small>Made with love in the Gambia By <a href="http://twitter.com/acamarian">A. Camarian</a> - An open source side project</small>
</footer>