// Imports
@import './abstracts/variables';
@import './abstracts/mixins';

// Variables



// Mixins
@mixin center-page {
  margin: 0 auto;
}


/**
 * site wrapper
 */
.site-wrapper  {
  @include center-page;
  min-width: $wrapper-min-width;
  max-width: $wrapper-max-width;
}


/**
 * site-wrapper--adaptable
 * This change its width size base on different screen sizes
 */
.site-wrapper--adaptable {
  @include respond-to(screen-s) {
    width: 90%;
  }
}



/**
 * Containers
 */
 .container {
  padding-left: $vr/2; 
  padding-right: $vr/2; 
  max-width: $container-max-width;
 }

/** 
 * Container Modifiers
 */
.container--center {
  @include center-page;
}

.container--small {
  max-width: $container-max-width-small;
}





/** 
 * Page landmarks
 */
.site-header {
  background-color: $primary;
  color: $foreground-on-primary;
}

.content {
  
  @include respond-to(mobile-l) {
    display: flex;
  }
}

.content__primary {
  @include respond-to(mobile-l) {
    width: 60%;
  }
}

.content__secondary {
  @include respond-to(mobile-l) {
    width: 40%;
  }
}

.site-footer {
  background-color: $primary;
  color: $foreground-on-primary;
  padding: $vr*2 0;
}