// Imports
@import './abstracts/variables';
@import './abstracts/mixins';

// Variables



// Mixins
@mixin center-page {
  margin: 0 auto;
}


/**
 * Page and Page wrapper
 */
.page {

  &__wrapper  {
    @include center-page;
    min-width: $wrapper-min-width;
    max-width: $wrapper-max-width;
  }
 }

/**
 * page__wrapper--adaptable
 * This change its width size base on different screen sizes
 */
.page__wrapper--adaptable {
  @include respond-to(screen-s) {
    width: 90%;
  }
}



/**
 * Containers
 */
 .container {
  padding-left: $vr/2; 
  padding-right: $vr/2; 
  max-width: $container-max-width;
 }

/** 
 * Container Modifiers
 */
.container--center {
  @include center-page;
}

.container--small {
  max-width: $container-max-width-small;
}

.container--large {
  max-width: $container-max-width-large;
}



/** 
 * Page landmarks
 */
.page__header {
  background-color: $primary;
  color: $foreground-on-primary;
}

.page__main {
  
  @include respond-to(mobile-s) {
    display: flex;
  }
}

.page__content {
  @include respond-to(mobile-s) {
    width: 60%;
  }
}

.page__aside {
  @include respond-to(mobile-s) {
    width: 40%;
  }
}

.page__footer {
  background-color: $primary;
  color: $foreground-on-primary;
  padding: $vr*2 0;
}