// Imports
@import './abstracts/variables';
@import './abstracts/mixins';

// Mixins
@mixin headings-light {
    font-weight: $font-weight-400;    
}

@mixin headings-bold {
    font-weight: $font-weight-600;
}





/**
 * Main and Sectioning Roots
 */
html {
    font-size: $base-font-size;
    line-height: $base-line-height;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga' 1, 'kern' 1, 'onum' 1;
}

body {
    font-family: $base-font-family-body;
    background-color: $base-background-color;
    color: $base-font-color;
    font-weight: $base-font-weight;
}





/**
 * Content Sectioning
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    @include headings-bold;
    @include respond-to(screen-l) {
        line-height: 1.75;
    }

    margin-top: $vr/2;
    margin-bottom: $vr/2;
    padding-top: $vr/2;
    font-family: $base-font-family-headings;
    color: $base-font-color-headings;
    font-style: normal;  
    line-height: 1.5;
    
    &:first-child {
        margin-top: 0;
        padding-top: 0;
    }
}

.lead-paragraph {
    @include respond-to(screen-l) {
        font-size: 1.5rem;
    }
    font-size: 1.25rem;
}

.lead-heading {
    @include respond-to(screen-l) {
        font-size: 4.25rem;
        line-height: 1.5;
    }
}

h1 {
    @include respond-to(screen-s) {
        font-size: 3.5rem;
    }
    line-height: 1.5;
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5,
h6 {
    font-size: 1.25rem;
}




/** 
 * Text content and Inline text semantics
 */
pre,
code,
kbd,
samp {
  font-family: $base-font-family-code; /* 1 */
  font-size: 1rem; /* 2 */
}


a {
    text-decoration: underline;
    text-decoration-skip: edges;
    color: $link;
    transition: color 0.1s, background-color 0.1s;
    
    &:hover {
        @include style-link-text($link);
    }
    
    &:active, 
    &:focus {
        color: darken($link, 5%);
    }

    &:visited {
        color: darken($link, 5%);
    }
}

small {
    font-size: 80%;
}
