/** 
 *  clearfix 
 */
@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}



/**
 * Color and text decoration
 * @param {Color} $color - the color to apply
 * This applies to links on the page, on different navs, btn links etc
 * Example:
  nav a {
    @include style-link-text(blue);
  }
  btn--link {
    @include style-link-text(red);
  }
 */
@mixin style-link-text($color) {
  text-decoration: none;
  color: $color;
}



/**
 * Breakpoint Graph
 */
$breakpoints: (
  mobile-s:   320px,      
  mobile-m:   640px,       
  mobile-l:   800px,       
  screen-s: 	1024px,       
  screen-m: 	1280px,      
  screen-l: 	1440px       
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media(min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn "Unknown `#{$breakpoint}` in $breakpoints, please check"
  }
}
