/** 
 * Colors
 */
$white:         hsl(0, 0, 100%);
$black:         hsl(0, 0, 0%);

// greys
$grey-lighter:  hsl(0, 0%, 98%);
$grey-light:    hsl(0, 0%, 94%);
$grey:          hsl(0, 0%, 88%);
$grey-dark:     hsl(0, 0%, 46%);
$grey-darker:   hsl(0, 0%, 13%);

$red:           hsl(1, 71%, 52%);
$blue:          hsl(205, 69%, 49%);
$green:         hsl(68, 100%, 30%);
$orange:        hsl(18, 80%, 44%);
$purple:        hsl(316, 71%, 21%);
$purple-dark:   hsl(318, 71%, 15%);

// use these in code
$primary:                   $grey !default;
$primary-variant:           $grey-dark !default;
$secondary:                 $blue !default;

$base-background:           $grey-lighter !default;
$base-foreground:           $grey-darker !default;
$foreground-on-primary:     $black !default;
$foreground-on-secondary:   $black !default;

// Status colors
$error:       $red;
$success:     $green;
$warning:     $orange; 
$info:        $blue;





/** 
 * Units
 */
$baseline:        2; // 32 px
$vr:              $baseline * 1rem; // vertical rhythm
$base-font-size:  100%;

$wrapper-min-width:           320px;     // 320px 
$wrapper-max-width:           1920px;    // 1920px
$container-max-width:         1140px;     // 1140px
$container-max-width-small:   600px;     // 640px

 


/** 
 * Typefaces
 */
$type-sans-serif:	'Roboto', sans-serif;
$type-serif: 	    'Sura', serif;
$type-code: 	    'source-code-pro', Courier, monospace;

$font-weight-400:   400;
$font-weight-600:   600;
$font-weight-700:   700;

// Base Font and colors
$base-font-family-body:      $type-sans-serif !default;
$base-font-size:             $base-font-size !default;
$base-background-color:      $base-background !default;
$base-font-color:            $base-foreground !default;
$base-line-height:           $baseline !default;
$base-font-weight:           $font-weight-400 !default;

$base-font-family-headings:  $type-serif !default;
$base-font-color-headings:   $black !default;

$base-font-family-code:  $type-code !default;

$link: $blue;



/** 
 * Borders, radius and Box shadows
 */
$base-border:               1px solid $grey !default;

$border-radius-s:           4px !default; 
$border-radius-m:           8px !default; 
$border-radius-l:           16px !default;
$border-radius-rounded:     50% !default;

$box-shadow-light: 0 1px 2px rgba($black, 0.3);